@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.footerWrapper{
    padding-top: 1rem;
    position: fixed;
    background-color: #D7CCC8;
    width: 100vw;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.leftSection, .middleSection, .rightSection{
    display: flex;
    color: #8B4513;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.leftSection {
    font-family: 'Dancing Script', cursive; 
}
.rightSection a {
    color: #5D4037;
}

.footerLogoImg {
    width: 15%;
}
.facebookLogoImg, .instagramLogoImg, .twitterLogoImg{
    width: 30px;
}

.anchorLink {
    font-size: 16px;
    margin-right: 10px;;
}
.sosialMediaDiv {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.middleSection p {
    font-size: 0.75rem;
}
