a, p, h4 {
    all: unset;
}
.aboutWrapper {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: #F5F5F5
}

.aboutTextWrapper {
    color: #8B4513;
    justify-items: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-size: 1.1rem;
    color: #5D4037;
    margin: 1rem
}
h4 {
    font-size: 1.4rem;
    margin: 2rem;
    color: #795548
}
.bottomP {
    margin-bottom: 20px;
}